# Compiled
*.elc
.yas-compiled-snippets.el

# Lisp generated
/horns/xorns-autoloads.el
/horns/xorns-version.el
/horns/xorns-pkg.el

# Packaging
.cask
/*.tar
/*.tar.gz
/xorns-[0-9]*/

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Make user configurations
/config.mk

# Documentation generated
/docs/*.texi
/docs/*.html
/docs/*.info
/docs/*.pdf
/docs/META-INF/
/docs/OEBPS/
/docs/dir
/docs/xorns/
/docs/mimetype
/docs/stats/

# User private directory
usr/

# Managed by Emacs in initialization folder (".emacs.d").
auto-save-list/
transient/
elpa/
.cache/
/session.*
tramp
/network-security.data
/ido.last
/.backups/
/url/
/eshell/
/snippets/
.recentf
.recentf~
/recentf
places
.emacs-places
/bookmarks
/history
/request/
.lsp-session-v1
ac-comphist.dat
projectile.cache
projectile-bookmarks.eld
javadoc-cache
