*.elc
*~
/*.tar
/*.tar.gz
/docs/*.texi
/docs/*.html
/docs/*.info
/docs/*.pdf
/docs/META-INF/
/docs/OEBPS/
/docs/dir
/docs/xorns/
/docs/mimetype
/docs/stats/
/config.mk
/lisp/xorns-autoloads.el
/lisp/xorns-version.el
/lisp/xorns-pkg.el
/xorns-[0-9]*/
