[Desktop Entry]
Name=Emacs (Using DBUS)
Comment=Emacs Window Manager
# Exec=emacs -mm
Exec=dbus-launch --exit-with-session emacs -mm
# Icon=emacs
Type=Application
X-LightDM-DesktopName=emacs
DesktopNames=emacs
Keywords=emacs;wm;windowmanager;window;manager;
