[Desktop Entry]
Name=Emacs
Comment=Emacs Window Manager
Exec=dbus-launch --exit-with-session emacs -mm
# Icon=emacs
Type=Application
X-LightDM-DesktopName=emacs
DesktopNames=emacs
Keywords=emacs;wm;windowmanager;window;manager;
